form {
    background: var(--box-color);
    color: var(--background-color);
    margin: 20px;
    padding: 10px;
    width: 50%;
}

form h2 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-base);
    color: var(--background-color);
    text-align: center;
    margin-bottom: 10px;
}

.form-input, .form-textarea, .form-select, .form-multiselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #e7d8c7;
    border-radius: 0.8rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0.6rem 0.85rem;
    border: 1px solid #e7d8c7;
    border-radius: 0.8rem;
    background: #fff;
    color: #2f241b;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

input {
    width: 100%;
    padding: 0.6rem 0.85rem;
    border: 1px solid #e7d8c7;
    border-radius: 0.8rem;
    background: #fff;
    color: #2f241b;
    margin-bottom: 1rem;
    cursor: text;
}

.user, .arrival, .departure, .room-type, .features, .tr-code {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-base);
    margin: 10px;
}

.features-cont {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 16px;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature {
    display: flex;
    align-items: baseline;
    margin: 0;
}

.f {
    width: 40px;
    cursor: pointer;
}

.prize-total {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-base);
    color: var(--background-color);
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.code-container {
    display: flex;
    flex-direction: row-reverse;
}

.code-button {
    background: var(--buttons);
    color: var(--box-color);
    padding: 5px 10px;
    border: none;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    text-decoration: none;
    margin: 5px;
}

.code-button:hover {
    box-shadow: 0px 0px 20px var(--buttons);
    transform: scale(1.1);
}

.buy-button {
    background: var(--buttons);
    color: var(--box-color);
    padding: 10px;
    border: none;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    text-decoration: none;
    margin: 5px;
    width: 300px;
    display: flex;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
}

.buy-button:hover {
    box-shadow: 0px 0px 20px var(--buttons);
    transform: scale(1.1);
}