form {
    background: var(--box-color);
    color: var(--background-color);
    margin: 20px;
    padding: 10px;
    width: 50%;
}

.form-input, .form-textarea, .form-select, .form-multiselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

[type='text'], /* [type='transferCode'], */ [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='time'], [type='week'], [multiple], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

input, select, textarea {
    width: 100%;
    padding: 0.6rem 0.85rem;
    border: 1px solid #e7d8c7;
    border-radius: 0.8rem;
    background: #fff;
    color: #2f241b;
    margin-bottom: 0.3rem;
}

.code-button {
    background: rgba(255, 255, 255, 0.9);
    color: var(--background-color);
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    margin: 10px;
}

.code-button:hover {
    box-shadow: 0px 0px 20px var(--buttons);
    transform: scale(1.1);
}