.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #29343D solid;
    aspect-ratio: 1 / 1;
    height: 300px;
    justify-content: center;
}

.calendar-container h2 {
    color: #29343D;
    font-size: 1.5rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  max-width: 280px;
  margin: 1rem auto;
  font-family: system-ui, sans-serif;
}

.day {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  color: #29343D;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  transition: background 0.2s, transform 0.1s;
}

.day:hover {
  background: #eaeaea;
  transform: scale(1.05);
}

/* Weekends */
.weekend {
  background: #fbe9e7;
  color: #b71c1c;
  font-weight: 500;
}

/* Booked dates */
.booked {
  background: #bd9321;
  border-color: #7b4002;
  color: #b26229;
  font-weight: 600;
}

.booked:hover {
    background: #d6caa5;
}