footer {
    background-color: var(--font-color);
    padding: 40px 0 0 0;
    color: var(--box-color);
    font-family: var(--font-base);
}

.footer-content {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    justify-content: space-around;
}

.footer-section h1 {
    text-transform: uppercase;
    color: var(--background-color);
    font-family: var(--font-base);
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer-section .logo-img {
    width: 100px;
    margin-top: 20px;
    
}

.footer-section h3 {
    color: var(--background-color);
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.footer-section p {
    margin: 8px 0;
    font-size: 0.9rem;
    line-height: 1.5;
    display: flex;
    gap: 10px;
}

.footer-section img {
    width: 20px;
}

.footer-tagline {
    font-style: italic;
    opacity: 0.8;
}

.social-icons {
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
}

.social-icons a {
    color: var(--box-color);
    text-decoration: none;
    transition: transform 0.2s;
}

.social-icons a img {
    width: 30px;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.footer-bottom {
    background: #171B1E;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    width: 100%;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.85rem;
    opacity: 0.7;
}

.admin-link {
    margin-top: 50px;
}

.admin-link a {
    color: var(--background-color);
}