header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171B1E;
}

header a {
    text-decoration: none;
}

header h1 {
    margin: 10px;
    padding: 20px;
    font-family: var(--font-base);
    color: var(--box-color);
    text-transform: uppercase;
}

header img {
    width: 50px;
}